{% if is_mobile %}

<div class="container-fluid text-center pb-5">
  <div class="row">

    <div class="col-12">
      <h2 class="extrabold text-uppercase text-8">Entre em <span class="bold">contacto</span></h2>
      <p class="mb-0 text-4 text-md-5">Zona Industrial da Gandra (Avepark)</p>
      <p class="mb-0 text-4 text-md-5">4805-107 Barco</p>
      <p>Guimarães</p>
    </div>

    <div class="col-12">
      <p class="mb-0 text-4 text-md-5">geral@papellandia.eu</p>
      <p class="mb-0 text-4 text-md-5">comercial@papellandia.eu</p>
      <p class="mb-0 text-4 text-md-5">qualidade@papellandia.eu</p>
      <p class="text-4 text-md-5"">recursos.humanos@papellandia.eu</p>
      <p class="text-4 text-md-5"">(+351) 253 563 353</p>
    </div>

    <div class="col-12 text-center">
      <h2 class="extrabold text-uppercase text-8">Venha trabalhar <span class="bold">connosco!</span></h2>
    </div>

    <div class="col-12">
      <form id="contactForm" action="javascript:void(0);" method="POST" novalidate="novalidate">
        <div class="contact-form-success alert alert-success d-none" id="contactSuccess">
          A sua mensagem foi enviada!
        </div>
        <div class="contact-form-error alert alert-danger d-none" id="contactError">
          Erro ao enviar mensagem!
          <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
        </div>
        <div class="form-row">
          <div class="form-group-contact col-12 col-md-6 my-3">
            <input type="text" value="" data-msg-required="Por favor preencha o seu nome." maxlength="100" class="form-control" name="name" required="" placeholder="Nome">
          </div>
          <div class="form-group-contact col-12 col-md-6 my-3">
            <input type="email" value="" data-msg-required="Por favor preencha o seu email." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail">
          </div>
          <div class="form-group-contact col-12 my-3">
            <input type="text" value="" data-msg-required="Por favor indique o assunto." maxlength="100" class="form-control" name="subject" required="" placeholder="Assunto">
          </div>
          <div class="form-group-contact col-12 my-3">
            <textarea maxlength="500" placeholder="Fala-nos sobre ti!" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control" name="message" id="message" required></textarea>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label-frutasclasse" for="customFile">Anexar CURRÍCULO</label>
          </div>

          <div class="form-group-contact col-12 my-3">
            <div class="row">
              <div class="col-12 col-md-9 mt-md-2">
                <input type="checkbox" id="checkbox" name="checkbox">
                <label for="checkbox" class="checkbox-label text-2 text-md-4">Eu aceito as condições da política de privacidade.</label>
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" value="Enviar" class="btn link float-right text-2 text-md-4" data-loading-text="A enviar...">Enviar <img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll" class="ml-2"></button>
              </div>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>

{% else %}
{% include 'Includes/text_float_vertical.html' %}

<div class="container contactos">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-12">
          <div class="cont-bg-1">
            <h2 class="extrabold text-uppercase text-13">Entre em <br><span class="bold">contacto</span></h2>
          </div>
        </div>
        <div class="col-12">
          <p class="mb-0 text-4 text-md-5">Zona Industrial da Gandra (Avepark)</p>
          <p class="mb-0 text-4 text-md-5">4805-107 Barco</p>
          <p>Guimarães</p>
        </div>
        <div class="col-12">
          <p class="mb-0 text-4 text-md-5">geral@papellandia.eu</p>
          <p class="mb-0 text-4 text-md-5">comercial@papellandia.eu</p>
          <p class="mb-0 text-4 text-md-5">qualidade@papellandia.eu</p>
          <p>recursos.humanos@papellandia.eu</p>
          <p>(+351) 253 563 353</p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-12 pl-0">
          <div class="cont-bg-2">
            <h2 class="extrabold text-uppercase text-13">Venha trabalhar <span class="bold">connosco!</span></h2>
          </div>
        </div>
        <form id="contactForm" action="javascript:void(0);" method="POST" novalidate="novalidate">
          <div class="contact-form-success alert alert-success d-none" id="contactSuccess">
            A sua mensagem foi enviada!
          </div>
          <div class="contact-form-error alert alert-danger d-none" id="contactError">
            Erro ao enviar mensagem!
            <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
          </div>
          <div class="form-row">
            <div class="form-group-contact col-12 my-3">
              <input type="text" value="" data-msg-required="Por favor preencha o seu nome." maxlength="100" class="form-control" name="name" required="" placeholder="Nome">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="email" value="" data-msg-required="Por favor preencha o seu email." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail">
            </div>
            <div class="form-group-contact col-12 my-3">
              <input type="text" value="" data-msg-required="Por favor indique o assunto." maxlength="100" class="form-control" name="subject" required="" placeholder="Assunto">
            </div>
            <div class="form-group-contact col-12 my-3">
              <textarea maxlength="500" placeholder="Fala-nos sobre ti!" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control" name="message" id="message" required></textarea>
            </div>
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFile">
              <label class="custom-file-label-frutasclasse" for="customFile">Anexar CURRÍCULO</label>
            </div>
            <div class="form-group-contact col-12 my-3">
              <div class="row">
                <div class="col-xl-8">
                  <input type="checkbox" id="checkbox" name="checkbox">
                  <label for="checkbox" class="checkbox-label text-2">Eu aceito as condições da política de privacidade.</label>
                </div>
                <div class="col-xl-4">
                  <button type="submit" value="Enviar" class="btn link float-right text-2" data-loading-text="A enviar...">Enviar <img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll" class="ml-2"></button>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}
