<div class="container pt-5 mt-5">
  <div class="row">
    <div class="col-lg-6">
      <div class="owl-carousel owl-theme"
        data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': true, 'autoHeight': true, 'margin': 0, 'autoplay': true, 'autoplayTimeout': 3000, 'dots': true}">
        <div>
          <img alt="imagem" class="img-fluid" src="{{url_base}}/assets/img/home/dest1.png">
        </div>
        <div>
          <img alt="imagem" class="img-fluid" src="{{url_base}}/assets/img/home/dest1.png">
        </div>
        <div>
          <img alt="imagem" class="img-fluid" src="{{url_base}}/assets/img/home/dest1.png">
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="summary entry-summary">
        <h1 class="mb-0 bold text-7">Nome do Produto</h1>
        <div class="pb-0 clearfix">
          <div title="Rated 3 out of 5" class="float-left">
            <input type="text" class="d-none" value="3" title="" data-plugin-star-rating data-plugin-options="{'displayOnly': true, 'color': 'primary', 'size':'xs'}">
          </div>
        </div>
        <p class="price">
          <span class="amount">10 €</span>
        </p>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing.
          Fusce in hendrerit purus. </p>
        <form enctype="multipart/form-data" method="post">
          <div class="quantity-cart">
            <input type="button" class="cart-less minus" value="-" />
            <input type="text" id="qtd" class="cart-input input-number input-text qtys text-2" title="Qty" value="1" name="quantity" min="1" step="1" />
            <input type="button" class="cart-more plus" value="+" />
          </div>
          <div class="product-meta mt-3">
            <label class="mb-0 semibold" for="categorias-select">Escolha uma categoria:</label>
            <br>
            <select name="categorias" id="categorias" form="categorias-select" class="regular">
              <option value="1">Categoria 1</option>
              <option value="2">Categoria 2</option>
              <option value="2">Categoria 3</option>
            </select>
          </div>
          <button href="#" class="btn btn-primary btn-modern text-uppercase my-3">Adicionar</button>
        </form>
      </div>
    </div>
  </div>
</div>
