{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-6 text-md-7 text-center mb-md-3">
      <h2>Os nossos produtos</h2>
    </div>

  <div class="col-12 col-md-6">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/icons/prod-icon1.svg" alt="Papéis" class="img-fluid w-50">
        <h2 class="mt-4 text-5">Papéis e plásticos</h2>
      </div>
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center mt-lg-5 pt-lg-5">
        <img src="{{url_base}}/assets/img/icons/prod-icon2.svg" alt="Higiene" class="img-fluid w-50">
        <h2 class="mt-4 text-5">Higiene e limpeza</h2>
      </div>
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/icons/prod-icon3.svg" alt="Pastelaria" class="img-fluid w-50">
        <h2 class="mt-4 text-5">Pastelaria e padaria</h2>
      </div>
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center mt-lg-5 pt-lg-5">
        <img src="{{url_base}}/assets/img/icons/prod-icon1.svg" alt="Área" class="img-fluid w-50">
        <h2 class="mt-4 text-5">Área alimentar</h2>
      </div>
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/icons/prod-icon1.svg" alt="Takeaway" class="img-fluid w-50">
        <h2 class="mt-4 text-5">Takeaway & Delivery</h2>
      </div>
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="{{url_base}}/produtos/listagem">
    <div class="text-center mt-lg-5 pt-lg-5">
      <img src="{{url_base}}/assets/img/icons/prod-icon2.svg" alt="Equipamentos" class="img-fluid w-50">
      <h2 class="mt-4 text-5 line-height-3">Equipamentos e acessórios de hotelaria</h2>
    </div>
    </a>
  </div>

  <div class="col-12 col-md-6">
    <a href="{{url_base}}/produtos/listagem">
    <div class="text-center">
      <img src="{{url_base}}/assets/img/icons/prod-icon3.svg" alt="Acessórios" class="img-fluid w-50">
      <h2 class="mt-4 text-5">Acessórios de mesa e buffet</h2>
    </div>
    </a>
  </div>
</div>
</div>

{% else %}
<div class="horizontal-scroll-wrapper">
  {% include 'Includes/text_float_horizontal.html' %}
  <div class="prods-text-1">
    <div class="cat-bg">
      <h2>Os nossos <span class="bold">produtos</span></h2>
    </div>
  </div>

  <div class="prods-grid">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/icons/prod-icon1.svg" alt="Papéis" class="img-fluid">
        <h2 class="mt-4 text-5">Papéis e plásticos</h2>
      </div>
    </a>

    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center mt-lg-5 pt-lg-5">
        <img src="{{url_base}}/assets/img/icons/prod-icon2.svg" alt="Higiene" class="img-fluid">
        <h2 class="mt-4 text-5">Higiene e limpeza</h2>
      </div>
    </a>
  </div>

  <div class="prods-grid">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/icons/prod-icon3.svg" alt="Pastelaria" class="img-fluid">
        <h2 class="mt-4 text-5">Pastelaria e padaria</h2>
      </div>
    </a>
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center mt-lg-5 pt-lg-5">
        <img src="{{url_base}}/assets/img/icons/prod-icon1.svg" alt="Área" class="img-fluid">
        <h2 class="mt-4 text-5">Área alimentar</h2>
      </div>
    </a>
  </div>

  <div class="prods-grid">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/icons/prod-icon1.svg" alt="Takeaway" class="img-fluid">
        <h2 class="mt-4 text-5">Takeaway & Delivery</h2>
      </div>
    </a>
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center mt-lg-5 pt-lg-5">
        <img src="{{url_base}}/assets/img/icons/prod-icon2.svg" alt="Equipamentos" class="img-fluid">
        <h2 class="mt-4 text-5">Equipamentos <br> e acessórios de hotelaria</h2>
      </div>
    </a>
  </div>

  <div class="prods-grid">
    <a href="{{url_base}}/produtos/listagem">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/icons/prod-icon3.svg" alt="Acessórios" class="img-fluid">
        <h2 class="mt-4 text-5">Acessórios de mesa e buffet</h2>
      </div>
    </a>
  </div>
  {% include 'Includes/side-footer.html' %}

</div>
{% endif %}
