<div class="container py-5">
  <ul class="nav nav-pills sort-source sort-source-style-3 justify-content-center text-3 text-md-4" data-sort-id="portfolio" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
    <li class="nav-item active" data-option-value="*"><a class="nav-link text-1 text-uppercase active" href="#">Todos</a></li>
    <li class="nav-item" data-option-value=".websites"><a class="nav-link text-1 text-uppercase" href="#">Websites</a></li>
    <li class="nav-item" data-option-value=".logos"><a class="nav-link text-1 text-uppercase" href="#">Logos</a></li>
    <li class="nav-item" data-option-value=".brands"><a class="nav-link text-1 text-uppercase" href="#">Brands</a></li>
    <li class="nav-item" data-option-value=".medias"><a class="nav-link text-1 text-uppercase" href="#">Medias</a></li>
  </ul>
  <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
    <div class="row portfolio-list sort-destination" data-sort-id="portfolio">
      {% for i in range(0, 2) %}
      <div class="col-md-6 col-lg-4 isotope-item brands">
        <div class="portfolio-item">
          <a href="{{url_base}}/produtos/detalhe">
            <span class="thumb-info thumb-info-lighten border-radius-0">
              <span class="thumb-info-wrapper border-radius-0">
                <img src="{{url_base}}/assets/img/home/dest1.png" class="img-fluid border-radius-0" alt="Destaque">
                <span class="thumb-info-title">
                  <span class="thumb-info-inner">Presentation</span>
                  <span class="thumb-info-type">Brand</span>
                </span>
                <span class="thumb-info-action">
                  <span class="thumb-info-action-icon"><i class="fas fa-plus"></i></span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
      {% for i in range(0, 1) %}
      <div class="col-md-6 col-lg-4 isotope-item websites">
        <div class="portfolio-item">
          <a href="{{url_base}}/produtos/detalhe">
            <span class="thumb-info thumb-info-lighten border-radius-0">
              <span class="thumb-info-wrapper border-radius-0">
                <img src="{{url_base}}/assets/img/home/dest1.png" class="img-fluid border-radius-0" alt="Destaque">
                <span class="thumb-info-title">
                  <span class="thumb-info-inner">Presentation</span>
                  <span class="thumb-info-type">Website</span>
                </span>
                <span class="thumb-info-action">
                  <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
      {% for i in range(0, 5) %}
      <div class="col-md-6 col-lg-4 isotope-item logos">
        <div class="portfolio-item">
          <a href="{{url_base}}/produtos/detalhe">
            <span class="thumb-info thumb-info-lighten border-radius-0">
              <span class="thumb-info-wrapper border-radius-0">
                <img src="{{url_base}}/assets/img/home/dest1.png" class="img-fluid border-radius-0" alt="Destaque">
                <span class="thumb-info-title">
                  <span class="thumb-info-inner">Presentation</span>
                  <span class="thumb-info-type">Website</span>
                </span>
                <span class="thumb-info-action">
                  <span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
