@font-face {
    font-family: "gilroy-regular";
    src: local('gilroy-regular.ttf'), url('./fonts/gilroy-regular.ttf');
}

@font-face {
    font-family: "gilroy-semibold";
    src: local('gilroy-semibold.ttf'), url('./fonts/gilroy-semibold.ttf');
}

@font-face {
    font-family: "gilroy-bold";
    src: local('gilroy-bold.ttf'), url('./fonts/gilroy-bold.ttf');
}

@font-face {
    font-family: "gilroy-extrabold";
    src: local('gilroy-extrabold.ttf'), url('./fonts/gilroy-extrabold.ttf');
}
