<div class="container-fluid">
  <div class="row">
    <div class="col-12 py-5 my-5">
      <h2 class="text-center extrabold text-uppercase text-lg-15">Lista de orçamento</h2>
    </div>
    <div class="col-12 cart-main-area pt-90 pb-100">
      <div class="container-fluid">
        <div id="notifications" class="alert alert-danger alert-dismissible" style="display:none;" role="alert"></div>
        <div class="row">
          <div class="col-12">
            <form action="#">
              <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                  <div class="table-content table-responsive cart-table-content p-3 px-sm-5">
                    <table class="w-100">
                      <thead>
                        <tr class="features text-center">
                          <th class="features">Produto</th>
                          <th class="features">Quantidade</th>
                        </tr>
                      </thead>
                      <tbody class="regular text-white">
                        {% for cart_item in carrinho.itens %}
                        <tr id="cartpageline-{{cart_item.id}}" lid="{{cart_item.id}}" qty="{{cart_item.quantidade}}">
                          <td class="product-remove text-center align-top">
                            <a href="javascript:void(0);" iid="{{cart_item.id}}" title="{{exp_530.lg|raw}}" class="remove-item-cart-page text-light">x</a>
                          </td>
                          <td class="cart-product-img text-center pt-2">
                            <a href="{{url_base}}/rm_academy/detail/{{cart_item.id_produto}}">
                              <img src="{{cart_item.image_url}}" alt="Produto">
                            </a>
                          </td>
                          <td class="product-name text-paragraph pl-3 text-center">
                            <a class="text-light regular" href="{{url_base}}/rm_academy/detail/{{cart_item.id_produto}}">{{cart_item.nome}}</a>
                          </td>
                          <td class="product-price text-paragraph text-center">
                            <span class="amount text-paragraph text-light text-3">{{cart_item.preco}} €</span>
                          </td>
                          <td class="cart-quality text-center">
                            <div class="product-details-quality quality-width-cart">
                              <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box text-white" type="text" name="qtybutton" value="{{cart_item.quantidade}}">
                              </div>
                            </div>
                          </td>
                          <td class="product-total text-center">
                            <span class="text-paragraph text-light text-3">{{cart_item.quantidade * cart_item.preco}} €</span>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <div class="text-center py-3 mt-md-5">
                      <a href="javascript:void(0);" class="btn btn-default btn-limpar">Limpar lista</a>
                      <a href="javascript:void(0);" class="btn btn-default">Voltar a produtos</a>
                      <a href="javascript:void(0);" class="btn btn-default2 btn-orcamento" data-toggle="modal" data-target="#defaultModal">Pedir orçamento</a>

                    </div>
                  </div>
                </div>
                <div class="col-3"></div>
              </div>
            </form>

            <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="order-congrats" style="display:none;">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <h2 class="modal-title semibold text-uppercase text-11 text-center mb-3" id="defaultModalLabel">Obrigado!</h2>
                      <p class="text-3 text-md-4 text-center line-height-5">O seu pedido de orçamento será processado o mais rápido possivel.</p>
                    </div>
                  </div>
                  <div class="order-data">
                    <div class="modal-header">
                      <h2 class="modal-title extrabold text-uppercase text-11" id="defaultModalLabel">Preencha com os seus dados!</h2>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <form id="contactForm" action="javascript:void(0);" method="POST" novalidate="novalidate">
                        <div class="contact-form-success alert alert-success d-none" id="contactSuccess">
                          A sua mensagem foi enviada!
                        </div>
                        <div class="contact-form-error alert alert-danger d-none" id="contactError">
                          Erro ao enviar mensagem!
                          <span class="mail-error-message text-1 d-block" id="mailErrorMessage"></span>
                        </div>
                        <div class="form-row">
                          <div class="form-group-contact col-12 my-2">
                            <input type="text" value="" data-msg-required="Por favor preencha o seu nome." maxlength="100" class="form-control" name="name" required="" placeholder="Nome">
                          </div>
                          <div class="form-group-contact col-12 my-2">
                            <input type="email" value="" data-msg-required="Por favor preencha o seu email." maxlength="100" class="form-control" name="email" required="" placeholder="E-mail">
                          </div>
                          <div class="form-group-contact col-12 my-2">
                            <textarea maxlength="500" placeholder="Mensagem" data-msg-required="Por favor escreva a sua mensagem." rows="8" class="form-control" name="message" id="message" required></textarea>
                          </div>

                          <div class="form-group-contact col-12 my-3">
                            <div class="row">

                              <div class="col-12 text-center">
                                <button class="btn btn-default2 btn-pedirorcamento order-send">Enviar pedido de orçamento</button>
                              </div>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
