{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center text-md-15">Sobre nós!</h2>
      <p class="text-4 text-md-5">A Papellandia foi criada em 2004 como uma empresa de distribuição de derivados de papel.</p>
      <p class="text-4 text-md-5">O nosso modelo de negócio tem vindo a aperfeiçoar-se em conjunto com as necessidades dos nossos clientes, procurando sempre oferecer soluções cada vez mais diversificadas e que correspondam às necessidades mais prementes.
      <p class="text-4 text-md-5">Somos totalmente comprometidos com os nossos clientes, aos quais procuramos oferecer qualidade, através de um atendimento personalizado e de uma rapidez na execução das mais diversas solicitações. …</p>
    </div>


    <div class="col-12 px-0">
      <img src="{{url_base}}/assets/img/general/about1.png" alt="Imagem" class="img-fluid">
      <img src="{{url_base}}/assets/img/general/about2.png" alt="Imagem" class="img-fluid">
      <img src="{{url_base}}/assets/img/general/about3.png" alt="Imagem" class="img-fluid">
    </div>

    <div class="col-12 my-5">
      <h4 class="semibold text-5 text-md-6 green">Cuidar do que é nosso!</h4>
      <p class="text-4 text-md-5">Além da qualidade e do serviço personalizado, na Papellandia temos desenvolvido, ao longo dos anos, uma crescente preocupação e consciência ambiental. Para isso, temos implementado um conjunto de normas amigas do ambiente e
        que permitem reduzir a pegada ecológica da nossa atividade.</p>
      <h4 class="semibold text-5 text-md-6 pink">Visão</h4>
      <p class="text-4 text-md-5">Integridade para com os parceiros comerciais e concorrência. Adaptação e recetividade à mudança.</p>
      <h4 class="semibold text-5 text-md-6 grey">Missão!</h4>
      <p class="text-4 text-md-5">Fornecer variedade e qualidade em derivados de papel, produtos de higiene e similares.</p>
      <h4 class="semibold text-5 text-md-6 blue">Valores!</h4>
      <p class="text-4 text-md-5">Compromisso para com os clientes. Rapidez de resposta e atendimento.</p>
    </div>

<div class="col-12 text-center bg-grey py-5">
    <h3 class="semibold text-6 text-md-7">Porquê a papellandia?</h3>
    <p class="text-4 text-md-5">Foco nas necessidades do cliente</p>
    <p class="text-4 text-md-5">Eficiência de resposta</p>
    <p class="text-4 text-md-5">Personalização</p>
    <p class="text-4 text-md-5">Profissionalismo</p>
    <p class="text-4 text-md-5">15 anos de experiência</p>
</div>
  </div>
</div>

{% include 'Includes/footer-mobile.html' %}

{% else %}
<div class="horizontal-scroll-wrapper">
   {% include 'Includes/text_float_horizontal.html' %}
  <div class="scroll">
    <span class="pink mr-3">SCROLL</span>
    <img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll">
  </div>
  <div class="about-text-1">
    <div class="about1-bg">
      <h2>Sobre nós!</h2>
    </div>
    <p>A Papellandia foi criada em 2004 como uma empresa de distribuição de derivados de papel.</p>
    <p>O nosso modelo de negócio tem vindo a aperfeiçoar-se em conjunto com as necessidades dos nossos clientes, procurando sempre oferecer soluções cada vez mais diversificadas e que correspondam às necessidades mais prementes.
    <p>Somos totalmente comprometidos com os nossos clientes, aos quais procuramos oferecer qualidade, através de um atendimento personalizado e de uma rapidez na execução das mais diversas solicitações. …</p>
  </div>
  <div class="about-img-1">
    <img src="{{url_base}}/assets/img/general/about1.png" alt="Imagem">
    <img src="{{url_base}}/assets/img/general/about2.png" alt="Imagem">
    <img src="{{url_base}}/assets/img/general/about3.png" alt="Imagem">
  </div>
  <div class="about-text-2">
    <div class="about2-bg">
      <h4 class="ml-3">Cuidar do que é nosso!</h4>
    </div>
    <p class="ml-3 mt-4">Além da qualidade e do serviço personalizado, na Papellandia temos desenvolvido, ao longo dos anos, uma crescente preocupação e consciência ambiental. Para isso, temos implementado um conjunto de normas amigas do ambiente e
      que permitem reduzir a pegada ecológica da nossa atividade.</p>
  </div>
  <div class="about-text-3">
    <div class="about4-bg">
      <h4 class="ml-3">Missão!</h4>
    </div>
    <p class="ml-3 mt-4">Fornecer variedade e qualidade em derivados de papel, produtos de higiene e similares.</p>
  </div>
  <div class="about-text-4">
    <div class="about3-bg">
      <h4 class="ml-3">Visão</h4>
    </div>
    <p class="ml-3 mt-4">Integridade para com os parceiros comerciais e concorrência. Adaptação e recetividade à mudança.</p>
  </div>
  <div class="about-text-5">
    <div class="about5-bg">
      <h4>Valores!</h4>
    </div>
    <p class="mt-4">Compromisso para com os clientes. Rapidez de resposta e atendimento.</p>
  </div>
  <div class="about-side">
    <img src="{{url_base}}/assets/img/icons/sideabout1.svg" alt="Imagem" class="sideabout1">
    <img src="{{url_base}}/assets/img/icons/sideabout2.svg" alt="Imagem" class="sideabout2">
    <div class="about-side-text">
      <h3 class="semibold">Porquê a papellandia?</h3>
      <p>Foco nas necessidades do cliente</p>
      <p>Eficiência de resposta</p>
      <p>Personalização</p>
      <p>Profissionalismo</p>
      <p>15 anos de experiência</p>
    </div>
  </div>
  {% include 'Includes/side-footer.html' %}
</div>
{% endif %}
