{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center semibold text-8 text-md-9">Serviços</h2>
      <p class="text-4 text-md-5">Além da diversidade de produtos, oferecemos um conjunto de serviços que visam completar o apoio que podemos dar aos nossos clientes.</p>
    </div>

    <div class="col-12">
      <div class="text-center">
        <img src="{{url_base}}/assets/img/services/serv1.svg" alt="Distribuição" class="img-fluid">
        <h4 class="semibold text-uppercase text-5">Distribuição</h4>
      </div>
    <p class="text-4 text-md-5">Distribuição de derivados de papel, plásticos, embalagens, produtos de higiene e limpeza, nomeadamente destinados a: </p>
    <p class="text-4 text-md-5">Produtos de uso diário em estabelecimentos ligados ao setor Horeca; <br>
      Produtos de limpeza industrial e particular;<br>
      Equipamentos de higienização; <br>
      Utilitários de limpeza; <br>
      Personalização de embalagens, entre outros.
    </p>
  </div>

  <div class="col-12">
    <div class="text-center">
      <img src="{{url_base}}/assets/img/services/serv2.svg" alt="Entregas" class="img-fluid">
      <h4 class="semibold text-uppercase text-5">Entregas em todo o país</h4>
    </div>
    <p class="text-4 text-md-5">Além da nossa frota de veículos, criamos parcerias de transporte expresso que se adaptam às exigências de cada cliente e permitem uma entrega rápida de qualquer encomenda.</p>
  </div>

  <div class="col-12">
    <div class="text-center">
      <img src="{{url_base}}/assets/img/services/serv3.svg" alt="Apoio" class="img-fluid">
      <h4 class="semibold text-uppercase text-5">Apoio ao cliente</h4>
    </div>
    <p class="text-4 text-md-5">Estamos sempre à disposição dos nossos clientes. Temos uma equipa de agentes comerciais com formação contínua e altamente capacitados para prestar apoio completo aos nossos clientes.</p>
  </div>

  <div class="col-12">
    <div class="text-center">
      <img src="{{url_base}}/assets/img/services/serv4.svg" alt="Atendimento" class="img-fluid">
      <h4 class="semibold text-uppercase text-5">Atendimento personalizado</h4>
    </div>
    <p class="text-4 text-md-5">Para nós cada cliente é diferente, com características e necessidades que o tornam único. Neste sentido, oferecemos um aconselhamento à medida e desenvolvemos soluções ajustadas a cada cliente de forma a melhor o servir.
    </p>
  </div>
</div>
</div>

{% include 'Includes/footer-mobile.html' %}
{% else %}

<div class="horizontal-scroll-wrapper">
  {% include 'Includes/text_float_horizontal.html' %}
  <div class="scroll">
    <span class="pink mr-3">SCROLL</span>
    <img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll">
  </div>
  <div class="serv-text-1">
    <div class="serv-bg">
      <h2>Serviços</h2>
    </div>
    <p>Além da diversidade de produtos, oferecemos um conjunto de serviços que visam completar o apoio que podemos dar aos nossos clientes.</p>
  </div>
  <div class="serv-grid">
    <img src="{{url_base}}/assets/img/services/serv1.svg" alt="Distribuição" class="img-fluid">
    <h4>Distribuição</h4>
    <p>Distribuição de derivados de papel, plásticos, embalagens, produtos de higiene e limpeza, nomeadamente destinados a: </p>
    <p>Produtos de uso diário em estabelecimentos ligados ao setor Horeca; <br>
      Produtos de limpeza industrial e particular;<br>
      Equipamentos de higienização; <br>
      Utilitários de limpeza; <br>
      Personalização de embalagens, entre outros.
    </p>
  </div>
  <div class="serv-grid">
    <img src="{{url_base}}/assets/img/services/serv2.svg" alt="Entregas" class="img-fluid">
    <h4>Entregas em todo o país</h4>
    <p>Além da nossa frota de veículos, criamos parcerias de transporte expresso que se adaptam às exigências de cada cliente e permitem uma entrega rápida de qualquer encomenda.
    </p>
  </div>
  <div class="serv-grid">
    <img src="{{url_base}}/assets/img/services/serv3.svg" alt="Apoio" class="img-fluid">
    <h4>Apoio ao cliente</h4>
    <p>Estamos sempre à disposição dos nossos clientes. Temos uma equipa de agentes comerciais com formação contínua e altamente capacitados para prestar apoio completo aos nossos clientes.
    </p>
  </div>
  <div class="serv-grid">
    <img src="{{url_base}}/assets/img/services/serv4.svg" alt="Atendimento" class="img-fluid">
    <h4>Atendimento personalizado</h4>
    <p>Para nós cada cliente é diferente, com características e necessidades que o tornam único. Neste sentido, oferecemos um aconselhamento à medida e desenvolvemos soluções ajustadas a cada cliente de forma a melhor o servir.
    </p>
  </div>
  {% include 'Includes/side-footer.html' %}
</div>
{% endif %}
