<div class="container-fluid footer-mobile py-4">
  <div class="row">
    <div class="col-12 text-center">
        <h2 class="bold text-uppercase mt-3 text-6 text-md-7">Entre em <span class="semibold">contacto</span></h2>
    </div>


    <div class="col-12 text-center">
      <p class="mb-0 text-4 text-md-5">Zona Industrial da Gandra (Avepark)</p>
      <p class="mb-0 text-4 text-md-5">4805-017 Barco</p>
      <p class="mb-3 text-4 text-md-5">Guimarães</p>
      <p class="text-uppercase text-4 text-md-5"><a href="" class="link">Política de privacidade e cookies</a></p>
      <p class="text-uppercase text-4 text-md-5">Acompanhe-nos! <a href="https://www.facebook.com/Papellandia" target="_blank"><img src="{{url_base}}/assets/img/social/facebook.svg" alt="Facebook" class="ml-2 img-fluid"></a> <a href="https://www.instagram.com/papellandia_pt" target="_blank"><img src="{{url_base}}/assets/img/social/instagram.svg" alt="Papellandia" class="img-fluid"></a></p>
    </div>

    <div class="col-12 text-center">
      <p class="mb-0 text-4 text-md-5">geral@papellandia.eu</p>
      <p class="mb-0 text-4 text-md-5">comercial@papellandia.eu</p>
      <p class="mb-0 text-4 text-md-5">qualidade@papellandia.eu</p>
      <p class="text-4 text-md-5">recursos.humanos@papellandia.eu</p>
      <p class="text-4 mt-2 text-md-5">(+351) 253 563 353</p>
    </div>

    <div class="col-12 text-center py-3">
      <span>Designed by <a href="https://unify.pt/" target="_blank"><img src="{{url_base}}/assets/img/logos/unify.svg" alt="UNIFY" class="img-fluid mb-1 ml-2"></a></span>
    </div>

  </div>
</div>
