</div>

<!-- Vendor -->
<script src="{{url_base}}/assets/vendor/jquery/jquery.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{{url_base}}/assets/vendor/popper/umd/popper.min.js"></script>
<script src="{{url_base}}/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{url_base}}/assets/vendor/common/common.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="{{url_base}}/assets/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{{url_base}}/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{{url_base}}/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{{url_base}}/assets/vendor/vide/jquery.vide.min.js"></script>
<script src="{{url_base}}/assets/vendor/vivus/vivus.min.js"></script>
<script src="{{url_base}}/assets/vendor/jquery/jquery-ui.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="{{url_base}}/assets/js/theme.js"></script>

<!-- Current Page Vendor and Views -->
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="{{url_base}}/assets/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<!-- Theme Custom -->
<script src="{{url_base}}/js/custom.js"></script>

<!-- Theme Initialization Files -->
<script src="{{url_base}}/assets/js/theme.init.js"></script>



</body>

</html>
