{% if is_mobile %}
<div class="container-fluid container-menu-mobile mb-3 p-0">
  <div class="float-menu-mobile" style="display:none;">
    <button type="button" class="menu-mobile-close"><i class="fas fa-times header-nav-top-icon fa-2x"></i></button>
      <div class="row p-0">
        <div class="col-12 p-0 mt-2 text-center">
          <a href="{{url_base}}"><img alt="Papellandia" width="200" height="200" src="{{url_base}}/assets/img/logos/logo2.svg"></a>
        <ul class="list-unstyled text-center mt-3">
          <li class="py-3 py-md-4"><a class="dropdown-item-mobile text-12 text-md-14" href="{{url_base}}/sobre">Sobre</a></li>
          <li class="py-3 py-md-4"><a class="dropdown-item-mobile text-12 text-md-14" href="{{url_base}}/produtos">Produtos</a></li>
          <li class="py-3 py-md-4"><a class="dropdown-item-mobile text-12 text-md-14" href="{{url_base}}/servicos">Serviços</a></li>
          <li class="py-3 py-md-4"><a class="dropdown-item-mobile text-12 text-md-14" href="{{url_base}}/contactos">Contactos</a></li>
        </ul>
      </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12 d-flex justify-content-end">
      <i class="fas fa-bars fa-2x hamburguer-mobile p-4"></i>
    </div>
  </div>
</div>


{% else %}

<div class="side-header-narrow-bar">
  <div class="side-header-narrow-bar-logo d-flex justify-content-center">
    <a href="{{url_base}}" class="p-3 mt-4">
      <img alt="Papellandia" width="70" height="70" src="{{url_base}}/assets/img/logos/logo1.svg">
    </a>
  </div>
  <div class="side-header-narrow-bar-content d-flex align-items-center justify-content-center text-center h-100">
    <div class="side-header-narrow-bar-bottom d-flex justify-content-center">
      <div class="mb-4">
        <button class="hamburguer-btn hamburguer-btn-sticky-dark">
          <span class="hamburguer">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <span class="close">
            <span></span>
            <span></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <a href="{{url_base}}/cart" class="pb-4">
      <img alt="Papellandia" width="40" height="40" src="{{url_base}}/assets/img/icons/arquivos.svg">
    </a>
  </div>
  <div class="d-flex justify-content-center">
    <a href="javascript:void(0);" class="pb-4 pt-2 float-search-open">
      <img alt="Papellandia" width="30" height="30" src="{{url_base}}/assets/img/icons/pesquisa.svg">
    </a>
  </div>
</div>

<header id="header" class="side-header side-header-lg side-header-hide d-flex">
  <div class="header-body">
    <div class="header-container container d-flex h-100">
      <div class="header-column flex-column justify-content-center h-100">
        <div class="header-row header-row-side-header flex-row h-100 overflow-hidden pb-5">
          <div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-slide align-self-center">
            <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
              <nav class="collapse">
                <ul class="nav nav-pills" id="mainNav">
                  <li class=""> <a class="dropdown-item text-md-10 text-xl-15" href="{{url_base}}/sobre">Sobre</a></li>
                  <li class=""> <a class="dropdown-item text-md-10 text-xl-15" href="{{url_base}}/produtos">Produtos</a></li>
                  <li class=""> <a class="dropdown-item text-md-10 text-xl-15" href="{{url_base}}/servicos">Serviços</a></li>
                  <li class=""> <a class="dropdown-item text-md-10 text-xl-15" href="{{url_base}}/contactos">Contactos</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="float-search bg-white" style="display:none;">
  <div class="container">
    <button type="button" class="float-search-close"><i class="fas fa-times header-nav-top-icon fa-2x"></i></button>
    <div class="row h-100 d-flex">
      <div class="col h-100 d-flex">
        <form role="search" action="" method="get" class="d-flex h-100 w-100">
          <div class="big-search-header input-group">
            <input class="form-control text-5" id="headerSearch" name="q" type="search" value="" placeholder="">
            <img alt="Pesquisa" width="30" height="30" src="{{url_base}}/assets/img/icons/pesquisa.svg">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endif %}

<div role="main" class="main">
