<div class="container" id="side-footer">
  <div class="row">
    <div class="col-12">
      <div class="sf-bg">
        <h2 class="bold text-uppercase text-md-10 text-xl-13">Entre em <span class="semibold"><br>contacto</span></h2>
      </div>
    </div>
    <div class="col-6">
      <p class="mb-0">Zona Industrial da Gandra (Avepark)</p>
      <p class="mb-0">4805-017 Barco</p>
      <p>Guimarães</p>
    </div>
    <div class="col-6">
      <p class="text-uppercase"><a href="" class="link">Política de privacidade e cookies</a></p>
      <p class="text-uppercase text-lg-3 text-xl-4">Acompanhe-nos! <a href="https://www.facebook.com/Papellandia" target="_blank"><img src="{{url_base}}/assets/img/social/facebook.svg" alt="Facebook" class="ml-2"></a> <a href="https://www.instagram.com/papellandia_pt" target="_blank"><img src="{{url_base}}/assets/img/social/instagram.svg" alt="Instagram"></a></p>
    </div>
    <div class="col-6 mt-md-5">
      <p class="mb-0">geral@papellandia.eu</p>
      <p class="mb-0">comercial@papellandia.eu</p>
      <p class="mb-0">qualidade@papellandia.eu</p>
      <p>recursos.humanos@papellandia.eu</p>
      <p class="mt-5">(+351) 253 563 353</p>
    </div>
    <div class="col-12 text-center unify">
      <span>Designed by <a href="https://unify.pt/" target="_blank"><img src="{{url_base}}/assets/img/logos/unify.svg" alt="UNIFY" class="mb-1 ml-2"></a></span>
    </div>
  </div>
</div>
