{% set textfloat = '' %}
{% set textfloat_arr = {'produtos': 'PRODUTOS', 'servicos': 'SERVIÇOS', 'contactos': 'CONTACTOS'} %}
{% set break = false %}
{% for key,value in textfloat_arr if not break %}
{% if module|lower == key %}
{% set textfloat = value %}
{% set break = true %}
{% else %}
{% set textfloat = 'A PAPELLANDIA!' %}
{% endif %}
{% endfor %}

<div class="text-float-vertical">
  {% for i in 0..10 %}
      <p class="text-float-item">{{textfloat}}</p>
  {% endfor %}

</div>
