{% if is_mobile %}

<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center">
      <h2 class="text-9 text-md-15">Estamos aqui para <span class="pink">o servir!</span></h2>
    </div>
    <div class="col-12">
      <img src="{{url_base}}/assets/img/general/papel.png" alt="Papel" class="img-fluid ml-3">
    </div>
    <div class="col-12 py-5">
      <div class="ht2-bg">
        <h2 class="text-7 text-md-13">Sobre nós!</h2>
      </div>
      <p class="text-4 text-md-5">A Papellandia foi criada em 2004 como uma empresa de distribuição de derivados de papel.</p>
      <p class="text-4 text-md-5">O nosso modelo de negócio tem vindo a aperfeiçoar-se em conjunto com as necessidades dos nossos clientes, procurando sempre oferecer soluções cada vez mais diversificadas e que correspondam às necessidades mais prementes.
      <p class="text-4 text-md-5">Somos totalmente comprometidos com os nossos clientes, aos quais procuramos oferecer qualidade, através de um atendimento personalizado e de uma rapidez na execução das mais diversas solicitações. …</p>
      <p class="text-right text-4 text-md-5 link"><a href="{{url_base}}/sobre">Ver mais</a><img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll" class="ml-2 text-3"></p>
    </div>
    <div class="col-12 text-center">
      <div class="ht3-bg pb-5">
        <h2 class="extrabold">Produtos<span class="bold"> em destaque</span></h2>
      </div>
      {% for i in range(0, 2) %}
      <img src="{{url_base}}/assets/img/home/dest1.png" alt="Destaque" class="img-fluid">
      <p class="bold text-uppercase text-3 text-md-5 ml-3">Papel de limpeza de mãos</p>
      {% endfor %}
      <p class="link text-right text-4 text-md-5"><a href="{{url_base}}/produtos">Ver todos os produtos</a><img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll" class="ml-2"></p>
    </div>
  </div>
</div>

{% include 'Includes/footer-mobile.html' %}
{% else %}

<div class="horizontal-scroll-wrapper">
  {% include 'Includes/text_float_horizontal.html' %}
  <div class="scroll">
    <span class="pink mr-3">SCROLL</span>
    <img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll">
  </div>
  <div class="home-text-1">
    <h2>Estamos aqui para <span class="pink">o servir!</span></h2>
  </div>
  <div class="home-img-1">
    <img src="{{url_base}}/assets/img/general/papel.png" alt="Papel">
  </div>
  <div class="home-text-2">
    <div class="ht2-bg">
      <h2>Sobre nós!</h2>
    </div>
    <p>A Papellandia foi criada em 2004 como uma empresa de distribuição de derivados de papel.</p>
    <p>O nosso modelo de negócio tem vindo a aperfeiçoar-se em conjunto com as necessidades dos nossos clientes, procurando sempre oferecer soluções cada vez mais diversificadas e que correspondam às necessidades mais prementes.
    <p>Somos totalmente comprometidos com os nossos clientes, aos quais procuramos oferecer qualidade, através de um atendimento personalizado e de uma rapidez na execução das mais diversas solicitações. …</p>
    <p class="text-right link"><a href="{{url_base}}/sobre">Ver mais</a><img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll" class="ml-2"></p>
  </div>
  <div class="home-text-3">
    <div class="ht3-bg">
      <h2 class="extrabold">Produtos<span class="bold"> em destaque</span></h2>
    </div>
  </div>
  {% for i in range(0, 2) %}
  <div class="prod-grid">
    <img src="{{url_base}}/assets/img/home/dest1.png" alt="" class="img-fluid">
    <p class="bold text-uppercase ml-3">Papel de limpeza de mãos</p>
  </div>
  {% endfor %}
  <div class="home-text-4">
    <p class="link"><a href="{{url_base}}/produtos">Ver todos os produtos</a><img src="{{url_base}}/assets/img/icons/scroll.svg" alt="Scroll" class="ml-2"></p>
  </div>
  {% include 'Includes/side-footer.html' %}
</div>
{% endif %}
